h1{
    background: green;
    text-size-adjust: 500px;
    text-align: center;
   
}

h3{
    background: lightpink;
    text-size-adjust: 500px;
    text-align: center;
}
h4 {

   color: red;
    text-size-adjust: 100px;
 }
